<header>
  <nav>
    <div class="nav-container">
      <a href="/#home" class="logo">
        <img src="/assets/images/Tempo-Icon-White2.png" alt="TempoPrints Logo" class="logo-img" />
      </a>
      <div id="hamburger" class="hamburger">☰</div>
      <ul class="nav-menu">
        <li><a href="/#about">About</a></li>
        <li><a href="/#contact-form">Contact</a></li>
      </ul>
      <div class="nav-contact">
        <a href="mailto:mike@tempoprints.com">
          <img class="nav-contact-icon" src="/assets/icons/Email-Icon.png" alt="Email">
        </a>
        <a href="tel:8562520414">
          <img class="nav-contact-icon" src="/assets/icons/Phone-Icon.png" alt="Phone">
        </a>
      </div>
    </div>
    <ul class="mobile-menu" id="mobileMenu">
      <li><a href="/#about">About</a></li>
      <li><a href="/#contact-form">Contact</a></li>
    </ul>
  </nav>
</header>
